@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* font-family: "Lora", serif !important; */
  font-family: "Inter", sans-serif !important;
}

.inter-typeface{
  font-family: "Inter", sans-serif !important;
}

.pixel-typeface{
  font-family: "Pixelify Sans", sans-serif !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* #auth-sign-in, #auth-sign-up{
  display: none !important;
} */

.supabase-auth-ui_ui-container button.supabase-auth-ui_ui-button:first-child{
  display: none !important;
}

.supabase-auth-ui_ui-divider{
  display: none !important;
}

.supabase-auth-ui_ui-button[type="submit"]{
  background-color: black !important;
  border-color: black;
 }

.ql-toolbar{
  border: none !important;
}

.ql-container.ql-snow{
  border: none !important;
}

.ql-editor{
  min-height: 50vh !important;
}

.dialogWelcome button.absolute {
  display: none !important;
}

.blogslists img{
  display: none !important;
  height: 0px !important;
}

.blogslists img.show{
  display: block !important;
  height: 500px !important;
  width: 100% !important;
  object-fit: cover;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
blockquote span {
  background: #f9f9f9;
}

.blog-detail p a{
  text-decoration: underline;
  color: black;
}

.blog-detail h1{
  font-size: 2em;
  font-weight: 800;
  color: black;
  margin: 0 0 .5rem 0;
}

.blog-detail h2{
  font-size: 1.5em;
  font-weight: 800;
  color: black;
  margin: 0 0 .5rem 0;
}

.blog-detail ol{
  padding: revert !important;
}

.blog-detail ol li{
  list-style: auto;
  list-style-position: outside;
  padding: revert !important;
}

.blog-detail ul{
  padding: revert !important;
}

.blog-detail ul li{
  list-style: disc;
  list-style-position: outside;
}


.ql-toolbar.ql-snow{
  position: sticky;
  top: 0px;
  background-color: white !important;
  z-index: 10000000 !important;
}